.choiceContainer {
    background: #4e4e4e;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    gap: 38px;
    padding: 10px 15px;

    &:active {
        transform: scale(.98);
    }
}

.wrongChoiceContainer {
    @extend .choiceContainer;
    background: #d60137;

    &:active {
        transform: scale(1);
    }
}

.correctChoiceContainer {
    @extend .wrongChoiceContainer;
    background: #13A452;
}